.nav{
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    /* position:fixed; 
    top:0px;
    left:0px; */
    width: 100%;
    z-index:1000;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px auto;
    height:100px;
    width: 90%;
    font-weight: 600;
}

.hamburger{
    background: url('../imgs/hamburguesa.png');
    width: 30px;
    height:30px;
    background-size: cover;
    display:block;
}
 
.cancelar {
    background: url('../imgs/cancelar.svg');
    width: 30px;
    height: 30px;
    background-size: cover;
    display: block;
}

.hamburger:hover, .cancelar:hover{
    transform:none
}


.navbar-personal-info{
    display: flex;
    align-items: center;
    gap:10px;
}

.navbar-personal-info span{
    font-size: 1.4rem
}

.logo-principal{
    width:60px;
    border-radius: 50%;
}

#navbar-ul{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction:column;
    position: absolute;
    top: 100px;
    width: 100%;
    left: -100%; 
    margin-top: 0px;
    transition: 0.5s;
    z-index:2000;
    background-color: #9eb3c2;
    color: #21295c;
}


.active{
    width: 100%;
    left:0px !important;
    transition: 0.5s;
}


.nav .active li a{
    color: whitesmoke;
}

.nav li{
    font-size:1.2rem;
    text-align:center;
    padding:0;
}

.nav li a{
    color: white;
    /* color: #00509d; */
    letter-spacing: 3px;
    width: 100%;
    padding: 1em 0;
    display: inline-block
}

.nav li a:hover {
    color: #21295c;
    transition: 0.3s
}

/* .nav li:active {
    background-color: #9eb3c2;
    color: #21295c;
} */


button{
    border: none;
    cursor:pointer;
    background-color: transparent;
}

.name{
    letter-spacing: 2px;
}




@media screen and (min-width:800px) and (max-width:979px){
    .nav li{
        font-size: 2em;
    }
}


@media screen and (min-width:980px){
    .nav-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        font-weight: 600;
    }

    #navbar-ul {
        list-style-type: none;
        padding-left: 0px;
        display: flex;
        flex-direction:row;
        gap: 40px;
        align-items: center;
        justify-content: end;
        position: relative;
        top:auto;
        left:auto;
        transition:none;
        margin-bottom: 0px;
        background-color: transparent;
    }

    .nav li a{
        color:#9eb3c2
    }

    .hamburger{
        display:none;

    }
}




